<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>todoリスト</title>
    <style>
      li {
        list-style-type: none;
      }
      input[type="text"],
      button {
        margin-right: 10px;
      }
      label:hover {
        cursor: pointer;
        color: blue;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <h1>Todoリスト</h1>
      <input
        type="text"
        v-model="newTodo"
        placeholder="todoを入力してください "
      />
      <button @click="add">追加</button>
      {{ todoList }}
      <ul>
        <li v-for="(todo, index) in todoList" :key="index">
          <label>
            <span
              @click="selectTodo = todo.text, editTodo = todo.text, setEditTodoValue(todo, index)"
              >{{ todo.text }}</span
            >
          </label>
          <input
            type="text"
            v-show="todo.text === selectTodo"
            v-model="editTodo"
          />
          <button @click="update(index)" v-show="todo.text === selectTodo">
            編集
          </button>
          <button @click="remove(index)" v-show="todo.text === selectTodo">
            削除
          </button>
        </li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
    <script src="./todo.js"></script>
  </body>
</html>
